<div class="w-11/12 border shadow-sm card bg-base-100 border-neutral-content ">
  <div class="card-body">
    <div class="flex justify-between w-full">
      <h2 class="uppercase card-title">Referee's Appointments</h2>

      <%= link_to 'VIEW CALENDAR', "#", class: "text-wso-blue" %>
    </div>
    <div class="overflow-x-auto">
      <table class="table">
        <!-- head -->
        <thead>
          <tr>
            <th>Event Name & Date</th>

            <th>Level</th>

            <th>Location</th>

            <th>Role</th>

            <th>Action</th>
          </tr>
        </thead>

        <tbody>
          <% @events.each do |event| %>
            <tr class="hover:bg-base-300">
              <td>
                <p class="font-bold"><%= event.name %></p>

                <%= event.start_date.strftime("%B %-d") %>-<%= event.end_date.strftime("%-d, %Y") %>
              </td>

              <td>
                <div class="badge badge-outline badge-<%= event.level_color %>">
                  <%= event.level.capitalize %>
                </div>
              </td>

              <td>
                <i class="mr-2 fa-solid fa-location-dot"></i>

                <%= event.location %>
              </td>

              <td>
                <%= event.role %>
              </td>

              <td>
                <button class="text-white rounded-lg btn bg-wso-blue">
                  View

                  <i class="fa-solid fa-arrow-up-right-from-square" style="color: #FFFFFF;"></i>
                </button>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
